---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
const pageTitle= "关于我";

const identity = {
  firstName: "Silence",
  country: "China",
  occupation: "Fullstack Developer",
  hobbies: ["photography", "birdwatching", "baseball"]
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Rust"];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "red";
---

<Layout title={pageTitle}>
  <Navigation />
  <h1>关于我</h1>
  <h2>....和我的 Astro 网站</h2>
  <p>我正在学习 Astro 的入门教程。这是我网站上的第二个页面，也是我自己建立的第一个页面。</p>
  <p>随着我完成更多教程，该站点将更新，所以请继续查看我的旅程将如何进行吧!</p>
  <p>以下是关于我的几个事实：</p>
  <ul>
    <li>我的名字是 {identity.firstName}。</li>
    <li>我住在{identity.country}。我的职业是{identity.occupation}。</li>
    {identity.hobbies.length >= 2 && <li>我喜欢{identity.hobbies[0]}和{identity.hobbies[1]}</li>}
  </ul>
  <p>我的技能是:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  {happy && <p>我很开心!</p>}
  {finished && <p>我已经完成了!</p>}
  {goal === 3 ? <p>我目标是达成 3</p> : <p>我目标未达成 3</p>}
</Layout>
<style define:vars={{skillColor}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
   color: var(--skillColor);
   font-weight: bold;
 }
</style>
